<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Pixies - Edit Board</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <th:block th:insert="includes/home-fragments::home-header"></th:block>
</head>

<body>

<!-- ======= Header ======= -->
<th:block style="color: #fff;" th:insert="includes/home-fragments::navbar-inner-page"></th:block>

<main id="main">

    <div class="card-body px-lg-5 col-md-6" style="margin-left: auto; margin-right: auto;">
        <div class="alert alert-success alert-dismissible fade show" role="alert" th:if="${success}">
            <strong>Board Edited Successfully!</strong> View your board <a
                th:href="@{/viewBoard/{id}(id = ${success})}">here</a>
            <button aria-label="Close" class="close" data-dismiss="alert" type="button">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <div class="alert alert-warning alert-dismissible fade show" role="alert" th:if="${error}">
            <strong>Oops, an error occurred</strong>
            <!-- TODO: Remove this error p tag -->
            <p th:text="'ERROR: '+${error}"></p>
            <button aria-label="Close" class="close" data-dismiss="alert" type="button">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <h1 class="mb-3">Edit Board</h1>
        <div>Enter the Following Details to Continue</div>

        <div>
            <form enctype="multipart/form-data" method="post" th:action="@{/editBoard/{id}(id = ${board_data.id})}">
                <div class="md-form">
                    <input class="form-control" id="boardName" name="boardName" required
                           th:value="${board_data.boardName}" type="text">
                    <label for="boardName">Board Name</label>
                </div>

                <div class="md-form">
                    <input class="form-control" id="boardDescription" name="boardDescription" required
                           th:value="${board_data.boardDescription}" type="text">
                    <label for="boardDescription">Board Description</label>
                </div>

                <div class="md-form">
                    <p for="privateBoard">Board Type</p>
                    <div class="custom-control switch">
                        <label>
                            Public
                            <input data-off="Public"
                                   data-offstyle="success" data-on="Private"
                                   data-onstyle="primary" th:checked="${board_data.privateBoard}"
                                   id="privateBoard" name="privateBoard"
                                   type="checkbox">
                            <span class="lever"></span>
                            Private
                        </label>
                    </div>
                </div>

                <div class="md-form">
                    <p class="custom-file-label">Board Cover</p>
                    <input class="form-control custom-file-input" id="boardCoverUrl" name="boardCoverUrl" type="file">
                </div>

                <input class="btn btn-outline-success btn-rounded btn-block z-depth-0 my-4 waves-effect" type="submit"
                       value="Update Board">
            </form>
        </div>

    </div>

</main><!-- End #main -->

<th:block th:insert="includes/home-fragments::footer"></th:block>

<a class="back-to-top" href="#"><i class="ri-arrow-up-line"></i></a>

<th:block th:insert="includes/home-fragments::home-scripts"></th:block>

</body>

</html>