<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Pixies - View Board</title>
    <meta content="" name="descriptison">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <th:block th:insert="includes/home-fragments::home-header"></th:block>
</head>

<body>

<!-- ======= Header ======= -->
<th:block style="color: #fff;" th:insert="includes/home-fragments::navbar-inner-page"></th:block>

<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <!--section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <ol>
          <li><a href="index.html">Home</a></li>
          <li>Portfolio Details</li>
        </ol>
        <h2>Portfolio Details</h2>

      </div>
    </section--><!-- End Breadcrumbs -->

    <!-- ======= Portfolio Details Section ======= -->
    <section class="portfolio-details" id="portfolio-details">
        <section class="container">

            <div class="portfolio-details-container">

                <div class="owl-carousel portfolio-details-carousel">
                    <img alt="" class="img-fluid" style="height: 50vh;"
                         th:src="'https://web-mini.s3.ap-south-1.amazonaws.com/boards/'+${board_data.boardCoverUrl}">
                </div>

                <div class="portfolio-info">
                    <h3 th:text="${board_data.boardName}"></h3>
                    <ul>
                        <li>
                            <th:block th:text="${board_data.boardDescription}"/>
                        </li>
                        <li>
                            <th:block th:if="${board_data.privateBoard}">
                                <p class="text-success">This is a Private Board, this is only visible to you</p>
                            </th:block>
                            <th:block th:unless="${board_data.privateBoard}">
                                <p class="text-info">This is a Public Board, and is visible to others with the link</p>
                            </th:block>
                        </li>
                        <th:block th:if="${#authentication.name == board_data.userId}">
                            <li><a class="btn btn-rounded btn-outline-info"
                                   th:href="@{/editBoard/{id}(id = ${board_data.id})}">Update Board</a></li>
                            <li><a class="btn btn-rounded btn-outline-danger"
                                   th:href="@{/deleteBoard/{id}(id = ${board_data.id})}">Delete Board</a></li>
                        </th:block>
                    </ul>
                </div>

            </div>

            <section class="blog" id="blog">
                <div class="container">

                    <h2 class="mb-3">Posts in this Board</h2>

                    <div class="row">

                        <div class="col-lg-12 entries">

                            <div class="row">

                                <div class="col-md-3 d-flex align-items-stretch" th:each="post: ${posts}">
                                    <article class="entry">

                                        <div class="entry-img">
                                            <a th:href="'/viewPost/'+ ${post.id}">
                                                <img class="img-fluid"
                                                     th:alt="${post.postDescription}"
                                                     th:if="${post.postType == 'image' || post.postType == 'gif'}"
                                                     th:src="'https://web-mini.s3.ap-south-1.amazonaws.com/posts/'+${post.postUrl}"/>
                                                <video autoplay loop muted style="max-height: 100px; max-width: inherit"
                                                       th:if="${post.postType == 'video'}">
                                                    <source th:src="'https://web-mini.s3.ap-south-1.amazonaws.com/posts/'+${post.postUrl}"
                                                            type="video/mp4">
                                                </video>
                                            </a>
                                        </div>

                                        <h2 class="entry-title">
                                            <a th:href="'/viewPost/'+ ${post.id}" th:text="${post.postTitle}"></a>
                                        </h2>

                                        <div class="entry-meta">
                                            <ul>
                                                <li class="d-flex align-items-center"><i class="icofont-user"></i>
                                                    <a th:href="@{/profile/} + ${post.postUser}"
                                                       th:text="${post.postUser}"></a>
                                                </li>
                                                <li class="d-flex align-items-center"><i class="icofont-tags"></i><a
                                                        href="#"
                                                        th:text="${post.tags}"></a>
                                                </li>
                                            </ul>
                                        </div>

                                        <div class="entry-content">
                                            <p th:text="${post.postDescription}"></p>
                                            <div class="read-more">
                                                <a th:href="'/viewPost/'+ ${post.id}">View Post</a>
                                            </div>
                                            <form class="read-more" method="post"
                                                  th:if="${#authentication.name == board_data.userId}"
                                                  th:action="@{/removePost/{id}(id = ${post.id})}">
                                                <input name="boardID" th:value="${board_data.id}" type="hidden">
                                                <button class="btn btn-sm btn-outline-danger btn-rounded m-3"
                                                        type="submit">Remove
                                                </button>
                                            </form>
                                        </div>

                                    </article><!-- End blog entry -->
                                </div>

                                <div class="col-md-11 d-flex align-items-stretch"
                                     th:if="${posts.isEmpty() || posts == null}">
                                    <h5 class="mb-3">Looks like you haven't created any posts in this board. <a
                                            th:href="@{/createPost}">Create one now</a></h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

        </section><!-- End Portfolio Details Section -->
    </section>
</main><!-- End #main -->

<th:block th:insert="includes/home-fragments::footer"></th:block>

<a class="back-to-top" href="#"><i class="ri-arrow-up-line"></i></a>

<th:block th:insert="includes/home-fragments::home-scripts"></th:block>

</body>

</html>