<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Pixies - Home</title>
    <meta content="" name="descriptison">
    <meta content="" name="keywords">

   <th:block th:insert="includes/home-fragments::home-header"></th:block>

</head>

<body>

<!-- ======= Header ======= -->
<th:block th:insert="includes/home-fragments::navbar-inner-page"></th:block>


<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <!--section id="breadcrumbs" class="breadcrumbs">
        <div class="container">

            <ol>
                <li><a th:href="@{/}">Home</a></li>
                <li>Home</li>
            </ol>
            <h2>Blog</h2>

        </div>
    </section--><!-- End Breadcrumbs -->

    <!-- ======= Blog Section ======= -->
    <section id="blog" class="blog">
        <div class="container">

            <div class="row">

                <div class="col-lg-8 entries">

                    <div class="row">

                        <div class="col-md-6 d-flex align-items-stretch" th:each="post: ${posts}">
                            <article class="entry">

                                <div class="entry-img">
                                    <a th:href="'/viewPost/'+ ${post.id}">
                                        <img class="img-fluid" th:alt="${post.postDescription}"
                                             th:src="'https://web-mini.s3.ap-south-1.amazonaws.com/posts/'+${post.postUrl}">
                                    </a>
                                </div>

                                <h2 class="entry-title">
                                    <a th:href="'/viewPost/'+ ${post.id}" th:text="${post.postTitle}"></a>
                                </h2>

                                <div class="entry-meta">
                                    <ul>
                                        <li class="d-flex align-items-center"><i class="icofont-user"></i> <a href="#"
                                                                                                              th:text="${post.postUser}"></a>
                                        </li>
                                        <li class="d-flex align-items-center"><i class="icofont-tags"></i><a href="#"
                                                                                                             th:text="${post.tags}"></a>
                                        </li>
                                    </ul>
                                </div>

                                <div class="entry-content">
                                    <p th:text="${post.postDescription}"></p>
                                    <div class="read-more">
                                        <a th:href="'/viewPost/'+ ${post.id}">View Post</a>
                                    </div>
                                </div>

                            </article><!-- End blog entry -->
                        </div>

                    </div>

                    <!--div class="blog-pagination">
                        <ul class="justify-content-center">
                            <li class="disabled"><i class="icofont-rounded-left"></i></li>
                            <li><a href="#">1</a></li>
                            <li class="active"><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#"><i class="icofont-rounded-right"></i></a></li>
                        </ul>
                    </div-->

                </div><!-- End blog entries list -->

                <div class="col-lg-4">
                    <div class="sidebar">

                        <h3 class="sidebar-title">Search</h3>
                        <div class="sidebar-item search-form">
                            <form action="">
                                <input type="text">
                                <button type="submit"><i class="icofont-search"></i></button>
                            </form>

                        </div><!-- End sidebar search form -->

                        <h3 class="sidebar-title">Categories</h3>
                        <div class="sidebar-item categories">
                            <ul>
                                <li><a href="#">General <span>(25)</span></a></li>
                                <li><a href="#">Lifestyle <span>(12)</span></a></li>
                                <li><a href="#">Travel <span>(5)</span></a></li>
                                <li><a href="#">Design <span>(22)</span></a></li>
                                <li><a href="#">Creative <span>(8)</span></a></li>
                                <li><a href="#">Educaion <span>(14)</span></a></li>
                            </ul>

                        </div><!-- End sidebar categories-->

                        <h3 class="sidebar-title">Recent Posts</h3>
                        <div class="sidebar-item recent-posts">
                            <div class="post-item clearfix">
                                <img src="img/blog-recent-1.jpg" alt="">
                                <h4><a href="blog-single.html">Nihil blanditiis at in nihil autem</a></h4>
                                <time datetime="2020-01-01">Jan 1, 2020</time>
                            </div>

                            <div class="post-item clearfix">
                                <img src="img/blog-recent-2.jpg" alt="">
                                <h4><a href="blog-single.html">Quidem autem et impedit</a></h4>
                                <time datetime="2020-01-01">Jan 1, 2020</time>
                            </div>

                            <div class="post-item clearfix">
                                <img src="img/blog-recent-3.jpg" alt="">
                                <h4><a href="blog-single.html">Id quia et et ut maxime similique occaecati ut</a></h4>
                                <time datetime="2020-01-01">Jan 1, 2020</time>
                            </div>

                            <div class="post-item clearfix">
                                <img src="img/blog-recent-4.jpg" alt="">
                                <h4><a href="blog-single.html">Laborum corporis quo dara net para</a></h4>
                                <time datetime="2020-01-01">Jan 1, 2020</time>
                            </div>

                            <div class="post-item clearfix">
                                <img src="img/blog-recent-5.jpg" alt="">
                                <h4><a href="blog-single.html">Et dolores corrupti quae illo quod dolor</a></h4>
                                <time datetime="2020-01-01">Jan 1, 2020</time>
                            </div>

                        </div><!-- End sidebar recent posts-->

                        <h3 class="sidebar-title">Tags</h3>
                        <div class="sidebar-item tags">
                            <ul>
                                <li><a href="#">App</a></li>
                                <li><a href="#">IT</a></li>
                                <li><a href="#">Business</a></li>
                                <li><a href="#">Business</a></li>
                                <li><a href="#">Mac</a></li>
                                <li><a href="#">Design</a></li>
                                <li><a href="#">Office</a></li>
                                <li><a href="#">Creative</a></li>
                                <li><a href="#">Studio</a></li>
                                <li><a href="#">Smart</a></li>
                                <li><a href="#">Tips</a></li>
                                <li><a href="#">Marketing</a></li>
                            </ul>

                        </div><!-- End sidebar tags-->

                    </div><!-- End sidebar -->

                </div><!-- End blog sidebar -->

            </div>

        </div>
    </section><!-- End Blog Section -->

</main><!-- End #main -->

<!-- ======= Footer ======= -->
<th:block th:insert="includes/home-fragments::footer"></th:block>

<a href="#" class="back-to-top"><i class="ri-arrow-up-line"></i></a>

<th:block th:insert="includes/home-fragments::home-scripts"></th:block>

</body>

</html>