<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Pixies - Profile</title>
  <meta content="" name="descriptison">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <th:block th:insert="includes/home-fragments::home-header"></th:block>
</head>

<body>

<!-- ======= Header ======= -->
<th:block th:insert="includes/home-fragments::navbar-home" style="color: #fff;"></th:block>

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <!--section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <ol>
          <li><a href="index.html">Home</a></li>
          <li>Portfolio Details</li>
        </ol>
        <h2>Portfolio Details</h2>

      </div>
    </section--><!-- End Breadcrumbs -->

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
      <div class="container">

        <div class="portfolio-details-container">

          <div class="owl-carousel portfolio-details-carousel">
            <img src="img/portfolio/portfolio-details-1.jpg" class="img-fluid" alt="">
            <img src="img/portfolio/portfolio-details-2.jpg" class="img-fluid" alt="">
            <img src="img/portfolio/portfolio-details-3.jpg" class="img-fluid" alt="">
          </div>

          <div class="portfolio-info">
            <h3>Personal information</h3>
            <ul>
              <li><strong>Name</strong>:
                <th:block th:text="${basic_details.name}"/>
              </li>
              <li><strong>Email</strong>:
                <th:block th:text="${basic_details.userName}"/>
              </li>
              <li><a class="btn btn-outline-danger" th:href="@{/logout}">Logout</a></li>
            </ul>
          </div>

        </div>

        <div class="portfolio-description">
          <h2>Your details</h2>
          <p>
            <!-- Material form subscription -->
            <div class="card">

              <h5 class="card-header info-color white-text text-center py-4">
                <strong>Edit Details</strong>
              </h5>

              <!--Card content-->
              <div class="card-body px-lg-5">

                <!-- Form -->
                <form action="#!">

          <p>Update your details</p>

          <p>
            <a th:href="@{/home}">Go home instead</a>
          </p>

          <!-- Name -->
          <div class="md-form mt-3">
            <input class="form-control" id="materialSubscriptionFormPasswords" type="text">
            <label for="materialSubscriptionFormPasswords">Name</label>
          </div>

          <!-- E-mai -->
          <div class="md-form">
            <input class="form-control" id="materialSubscriptionFormEmail" type="email">
            <label for="materialSubscriptionFormEmail">E-mail</label>
          </div>

          <!-- Sign in button -->
          <button class="btn btn-outline-info btn-rounded btn-block z-depth-0 my-4 waves-effect" type="submit">Sign in
          </button>

          </form>
          <!-- Form -->

        </div>

      </div>
      <!-- Material form subscription -->
      </p>
      </div>

      </div>
    </section><!-- End Portfolio Details Section -->

  </main><!-- End #main -->

<th:block th:insert="includes/home-fragments::footer"></th:block>

<a href="#" class="back-to-top"><i class="ri-arrow-up-line"></i></a>

<th:block th:insert="includes/home-fragments::home-scripts"></th:block>

</body>

</html>