<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Pixies - Profile</title>
  <meta content="" name="descriptison">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <th:block th:insert="includes/home-fragments::home-header"></th:block>
</head>

<body>

<!-- ======= Header ======= -->
<th:block th:insert="includes/home-fragments::navbar-home" style="color: #fff;"></th:block>

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <!--section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <ol>
          <li><a href="index.html">Home</a></li>
          <li>Portfolio Details</li>
        </ol>
        <h2>Portfolio Details</h2>

      </div>
    </section--><!-- End Breadcrumbs -->

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
      <div class="container">

        <div class="portfolio-details-container">

          <div class="owl-carousel portfolio-details-carousel">
            <img src="img/portfolio/portfolio-details-1.jpg" class="img-fluid" alt="">
            <img src="img/portfolio/portfolio-details-2.jpg" class="img-fluid" alt="">
            <img src="img/portfolio/portfolio-details-3.jpg" class="img-fluid" alt="">
          </div>

          <div class="portfolio-info">
            <h3>Personal information</h3>
            <ul>
              <li><strong>Name</strong>:
                <th:block th:text="${basic_details.name}"/>
              </li>
              <li><strong>Email</strong>:
                <th:block th:text="${basic_details.userName}"/>
              </li>
              <li><a class="btn btn-outline-danger" th:href="@{/logout}">Logout</a></li>
            </ul>
          </div>

        </div>

        <div class="portfolio-description">
          <h2>Your details</h2>
          <p>
            <!-- Material form subscription -->
            <div class="card">

              <h5 class="card-header info-color white-text text-center py-4">
                <strong>Edit Details</strong>
              </h5>

              <!--Card content-->
              <div class="card-body px-lg-5">

                <!-- Form -->
                <form action="#!">

          <a href="#">Update your password</a>

          <!-- Name -->
                  <div class="md-form mt-3">
                    <input class="form-control" id="name" th:value="${basic_details.name}" type="text">
                    <label for="name">Name</label>
                  </div>

                  <!-- E-mail -->
                  <div class="md-form">
                    <input class="form-control" id="email" th:value="${basic_details.userName}" type="email">
                    <label for="email">E-mail/Username</label>
                  </div>

                  <!-- DOB -->
                  <div class="md-form">
                    <input class="form-control" id="dob" max="2099-09-13" min="1900-01-01"
                           th:value="${basic_details.dob}" type="date">
                    <label for="dob">Date of Birth</label>
                  </div>

                  <!-- Gender -->
                  <span class="badge badge-danger" id="gender_warning"></span>
                  <input id="gender_val" th:value="${basic_details.gender}" type="hidden"/>
                  <div class="md-form">
                    <select class="form-control input_user" id="gender" name="gender" required>
                      <option value="opt">Select an Option</option>
                      <option value="male">Male</option>
                      <option value="female">Female</option>
                      <option value="nts">Prefer Not to Say</option>
                    </select>
                  </div>
                  <script>
                    let val = document.getElementById("gender_val").value;
                    document.getElementById("gender").value = val;
                  </script>

                  <!--  button -->
                  <button class="btn btn-outline-info btn-rounded btn-block z-depth-0 my-4 waves-effect" type="submit">
                    Update
                  </button>

                </form>
          <!-- Form -->

        </div>

      </div>
      <!-- Material form subscription -->
      </p>
      </div>

      </div>
    </section><!-- End Portfolio Details Section -->

  </main><!-- End #main -->

<th:block th:insert="includes/home-fragments::footer"></th:block>

<a href="#" class="back-to-top"><i class="ri-arrow-up-line"></i></a>

<th:block th:insert="includes/home-fragments::home-scripts"></th:block>
<script>
  function validateGender() {
    var ddl = document.getElementById("gender");
    if (ddl.selectedIndex === 0) {
      document.getElementById("gender_warning").innerHTML = "Please Select your Gender";
      return false;
    } else {
      document.getElementById("gender_warning").innerHTML = "";
      return true;
    }
  }

  function getDob() {
    var date = new Date();
    return (date.getMonth() + 1) + "-" + date.getDate() + "-" + (date.getFullYear() - 18);
  }

  document.getElementById("dob").prop("max", getDob());
  document.getElementById("#dob").validate();
</script>

</body>

</html>