<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Pixies - Sign Up</title>
    <meta content="" name="descriptison">
    <meta content="" name="keywords">

    <th:block th:insert="includes/home-fragments::home-header"></th:block>

    <style>
        body {
            background: url("https://source.unsplash.com/random/1920x1920") top center;
            background-size: cover;
        }

        #main {
            margin: 10%;
            min-height: 100vh;
        }
    </style>
</head>
<body>

<!--Main Navigation-->

<th:block th:insert="includes/home-fragments::navbar-home"/>

<div class="container row text-center" id="main">
    <!-- Material form register -->
    <div class="card">

        <h5 class="card-header info-color white-text text-center py-4">
            <strong>Sign up</strong>
        </h5>

        <!--Card content-->
        <div class="card-body px-lg-5 pt-0">
            <span id="errors"></span>
            <!-- Form -->
            <form class="text-center" id="registration_form" method="post" style="color: #757575;"
                  th:action="@{/signup}">

                <div class="form-row">
                    <div class="col">
                        <!-- First name -->
                        <div class="md-form">
                            <input class="form-control" id="first_name" name="first_name" required type="text">
                            <label for="first_name">First name</label>
                        </div>
                    </div>
                    <div class="col">
                        <!-- Last name -->
                        <div class="md-form">
                            <input class="form-control" id="last_name" name="last_name" required type="text">
                            <label for="last_name">Last name</label>
                        </div>
                    </div>
                </div>

                <!-- E-mail -->
                <div class="md-form mt-0">
                    <input class="form-control" id="email" name="email" required type="email">
                    <label for="email">E-mail</label>
                </div>

                <!-- E-mail -->
                <div class="md-form mt-0">
                    <input class="form-control" id="username" name="username" required type="text">
                    <label for="username">Username</label>
                    <small class="form-text text-md-center m-b-4" id="username-desc">
                        <th:block th:if="${username_exists == 'yes'}"><span class="badge badge-danger">The given username exists</span>
                        </th:block>
                    </small>
                </div>

                <!-- Password -->
                <div class="md-form">
                    <input aria-describedby="password-desc" class="form-control" id="password" name="password"
                           pattern="^(?=(.*[a-zA-Z].*){2,})(?=.*\d.*)(?=.*\W.*)[a-zA-Z0-9\S]{8,15}$" required
                           type="password">
                    <label for="password">Password</label>
                    <small class="form-text text-muted mb-4" id="password-desc">
                        At least 8 characters (15 max), 1 digit and 1 special character, space is not allowed.
                    </small>
                </div>

                <!-- Password -->
                <div class="md-form">
                    <input aria-describedby="repassword-desc" class="form-control" id="repassword" name="repassword"
                           pattern="^(?=(.*[a-zA-Z].*){2,})(?=.*\d.*)(?=.*\W.*)[a-zA-Z0-9\S]{8,15}$" required
                           type="password">
                    <label for="repassword">Re Enter Password</label>
                    <small class="form-text text-muted mb-4" id="repassword-desc">

                    </small>
                </div>

                <!-- Phone number -->
                <div class="md-form">
                    <input aria-describedby="phone-desc" class="form-control" id="phone" name="phone" type="number">
                    <label for="phone">Phone number</label>
                    <small class="form-text text-muted mb-4" id="phone-desc">
                        Optional
                    </small>
                </div>

                <!-- DOB -->
                <div class="md-form">
                    <input aria-describedby="dob-desc" class="form-control" id="dob" name="dob" type="date">
                    <label for="dob">Date of Birth</label>
                    <small class="form-text text-muted mb-4" id="dob-desc">

                    </small>
                </div>

                <!-- Gender -->
                <div class="md-form">
                    <select aria-describedby="gender-desc" class="select-dropdown form-control" id="gender"
                            name="gender" required>
                        <option value="opt">Select an Option</option>
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                        <option value="nts">Prefer Not to Say</option>
                    </select>
                    <small class="form-text text-muted mb-4" id="gender-desc">

                    </small>
                </div>

                <!-- Newsletter -->
                <div class="form-check">
                    <input class="form-check-input" id="remember" type="checkbox">
                    <label class="form-check-label" for="remember">Remember Me</label>
                </div>

                <!-- Sign up button -->
                <a class="btn btn-outline-info btn-rounded btn-block my-4 waves-effect z-depth-0"
                   href="javascript:validate_and_submit()">Sign Up</a>

                <!-- Login -->
                <p>Already a member?
                    <a th:href="@{/login}">Sign In</a>
                </p>

                <!-- Social register -->
                <p>or sign up with:</p>

                <a class="btn-floating btn-fb btn-sm" type="button">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a class="btn-floating btn-tw btn-sm" type="button">
                    <i class="fab fa-twitter"></i>
                </a>
                <a class="btn-floating btn-li btn-sm" type="button">
                    <i class="fab fa-linkedin-in"></i>
                </a>
                <a class="btn-floating btn-git btn-sm" type="button">
                    <i class="fab fa-github"></i>
                </a>

                <hr>

                <!-- Terms of service -->
                <p>By clicking
                    <em>Sign up</em> you agree to our
                    <a href="" target="_blank">terms of service</a>

            </form>
            <!-- Form -->

        </div>

    </div>
    <!-- Material form register -->
</div>
<th:block th:replace="includes/home-fragments::footer"/>

<th:block th:insert="includes/home-fragments::home-scripts"></th:block>

<script type="text/javascript">
    /*//setup before functions
    var typingTimer;                //timer identifier
    var doneTypingInterval = 1000;  //time in ms, 5 second for example
    var $input = $('#repassword');

    //on keyup, start the countdown
    $input.on('keyup', function () {
        clearTimeout(typingTimer);
        typingTimer = setTimeout(matchpass, doneTypingInterval);
    });

    //on keydown, clear the countdown
    $input.on('keydown', function () {
        clearTimeout(typingTimer);
    });*/

    function validatePassword() {
        var firstpassword = document.getElementById("password").value;
        var secondpassword = document.getElementById("repassword").value;

        if (firstpassword === secondpassword && firstpassword !== "") {
            document.getElementById("repassword-desc").innerHTML = "";
            return true;
        } else {
            document.getElementById("repassword-desc").innerHTML = "<span class=\"badge badge-danger\">Passwords Do not Match</span>";
            return false;
        }
    }

    function validateGender() {
        var ddl = document.getElementById("gender");
        if (ddl.selectedIndex === 0) {
            document.getElementById("gender-desc").innerHTML = "<span class=\"badge badge-danger\">Please Select your Gender</span>";
            return false;
        } else {
            document.getElementById("gender-desc").innerHTML = "";
            return true;
        }
    }

    function getDob() {
        var date = new Date();
        return (date.getMonth() + 1) + "-" + date.getDate() + "-" + (date.getFullYear() - 18);
    }

    document.getElementById("dob").prop("max", getDob());
    document.getElementById("#dob").validate();

    function validate_and_submit() {
        if (validateGender() && validatePassword()) {
            document.getElementById("registration_form").submit();
        } else {
            document.getElementById("errors").innerHTML = "<span class=\"badge badge-danger\">Please Correct the following</span>";
        }
    }
</script>

</body>
</html>

