<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Pixies - Sign Up</title>
    <meta content="" name="descriptison">
    <meta content="" name="keywords">

    <th:block th:insert="includes/home-fragments::home-header"></th:block>

    <style>
        body,
        html {
            margin: 0;
            padding: 0;
            height: 100%;
            background: #60a3bc !important;
        }
    </style>
</head>
<body>

<!--Main Navigation-->

<th:block th:insert="includes/home-fragments::navbar-home"/>

<div class="container h-100">
    <div class="d-flex justify-content-center h-100">
        <div class="user_card" style="height: 650px;">
            <div class="d-flex justify-content-center">
                <div class="brand_logo_container">
                    <img src="https://cdn.freebiesupply.com/logos/large/2x/pinterest-circle-logo-png-transparent.png"
                         class="brand_logo" alt="Logo">
                </div>
            </div>
            <div class="d-flex justify-content-center form_container" style="margin-top: 100px;">
                <form id="registration_form" method="post" th:action="@{/signup}">
                    <label class="input-group" id="errors"></label>
                    <div class="input-group mb-3">
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
                        <input class="form-control input_user" id="username" name="username"
                               placeholder="Email - your Username" required type="email" value="">
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fas fa-key"></i></span>
                        </div>
                        <input type="password" name="password" id="password" class="form-control input_pass" value="" placeholder="Password">
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fas fa-key"></i></span>
                        </div>
                        <input class="form-control input_pass" id="repassword" name="repassword"
                               placeholder="Re-enter Password" required type="password" value="">
                    </div>
                    <label class="input-group" id="password_validity"></label>
                    <div class="input-group mb-3">
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fas fa-user-circle"></i></span>
                        </div>
                        <input class="form-control input_user" id="first_name" name="first_name"
                               placeholder="Enter First Name" required type="text" value="">
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fas fa-user-circle"></i></span>
                        </div>
                        <input class="form-control input_user" id="last_name" name="last_name"
                               placeholder="Enter Last Name" required type="text" value="">
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fas fa-child"></i></span>
                        </div>
                        <input class="form-control input_user" id="age" name="age" placeholder="Enter Your Age" required
                               type="number" value="">
                    </div>
                    <label class="input-group" id="age-errors"></label>
                    <div class="input-group mb-3">
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fas fa-info"></i></span>
                        </div>
                        <select class="form-control input_user" id="gender" name="gender" required>
                            <option value="opt">Select an Option</option>
                            <option value="male">Male</option>
                            <option value="female">Female</option>
                            <option value="nts">Prefer Not to Say</option>
                        </select>
                    </div>
                    <label class="input-group" id="gender_warning"></label>
                    <div class="d-flex justify-content-center mt-3 login_container">
                        <a class="btn login_btn" href="javascript:validate_and_submit()">Sign Up</a>
                    </div>
                </form>
            </div>

            <div class="mt-4">
                <div class="d-flex justify-content-center links">
                    Already have an account? <a th:href="@{/login}" class="ml-2">Sign In</a>
                </div>
                <div class="d-flex justify-content-center links">
                    <a href="#">Forgot your password?</a>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block th:replace="includes/home-fragments::footer"/>

<th:block th:insert="includes/home-fragments::home-scripts"></th:block>

<script type="text/javascript">
    /*//setup before functions
    var typingTimer;                //timer identifier
    var doneTypingInterval = 1000;  //time in ms, 5 second for example
    var $input = $('#repassword');

    //on keyup, start the countdown
    $input.on('keyup', function () {
        clearTimeout(typingTimer);
        typingTimer = setTimeout(matchpass, doneTypingInterval);
    });

    //on keydown, clear the countdown
    $input.on('keydown', function () {
        clearTimeout(typingTimer);
    });*/

    function validatePassword() {
        var firstpassword = document.getElementById("password").value;
        var secondpassword = document.getElementById("repassword").value;

        if (firstpassword === secondpassword && firstpassword !== "") {
            document.getElementById("password_validity").innerHTML = "";
            return true;
        } else {
            document.getElementById("password_validity").innerHTML = "<p class=\"text-danger\">Passwords Do not Match</p>";
            return false;
        }
    }

    function validateGender() {
        var ddl = document.getElementById("gender");
        if (ddl.selectedIndex === 0) {
            document.getElementById("gender_warning").innerHTML = "<p class=\"text-danger\">Please Select your Gender</p>";
            return false;
        } else {
            document.getElementById("gender_warning").innerHTML = "";
            return true;
        }
    }

    function validateAge() {
        var age = document.getElementById("age").value;
        if (age >= 18) {
            return true;
        } else {
            document.getElementById("age-errors").innerHTML = "<span class=\"badge badge-pill badge-danger\">Age should be Above 18</span>";
            return false;
        }
    }

    function validate_and_submit() {
        if (validateGender() && validatePassword() && validateAge()) {
            document.getElementById("registration_form").submit();
        } else {
            document.getElementById("errors").innerHTML = "<span class=\"badge badge-pill badge-danger\">Please Correct the following</span>";
        }
    }
</script>

</body>
</html>

