<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Pixies - Disabled Users</title>
    <meta content="" name="descriptison">
    <meta content="" name="keywords">

    <th:block th:insert="includes/home-fragments::home-header"></th:block>
</head>

<body>

<!-- ======= Header ======= -->
<th:block th:insert="includes/home-fragments::navbar-inner-page"/>
<!-- End Header -->

<main id="main">

    <section class="services" id="services">
        <div class="container">

            <div class="section-title">
                <p>View and manage Disabled Users</p>
            </div>

        </div>
    </section>

    <section class="features" id="features">
        <div class="container">

            <div class="row">

            <div class="col-lg-3 col-md-4 col-6 mt-4" th:each="user : ${users}">
                <div class="icon-box">
                    <a th:href="@{/profile/disabled/{user_name}(user_name = ${user.userName})}">
                        <h3 th:text="'Username: '+${user.userName}">Username:</h3>
                        <br>
                        <h3 th:text="'Full Name: '+${user.firstName}+ ' ' + ${user.lastName}">Full Name:</h3>
                    </a>
                </div>
            </div>

                <div class="section-title" th:if="${#lists.size(users) == 0}">
                    <h6>No Disabled Users</h6>
                </div>

            </div>

        </div>
    </section><!-- End Features Section -->

</main><!-- End #main -->

<th:block th:insert="includes/home-fragments::footer"></th:block>

<a class="back-to-top" href="#"><i class="ri-arrow-up-line"></i></a>

<th:block th:insert="includes/home-fragments::home-scripts"></th:block>

</body>

</html>