<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Pixies - Profile</title>
  <meta content="" name="descriptison">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <th:block th:insert="includes/home-fragments::home-header"></th:block>
</head>

<body>

<!-- ======= Header ======= -->
<th:block style="color: #fff;" th:insert="includes/home-fragments::navbar-inner-page"></th:block>

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <!--section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <ol>
          <li><a href="index.html">Home</a></li>
          <li>Portfolio Details</li>
        </ol>
        <h2>Portfolio Details</h2>

      </div>
    </section--><!-- End Breadcrumbs -->

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
      <div class="container">

        <div class="portfolio-description">
          <h2>Your details</h2>
          <p>
            <!-- Material form subscription -->
            <div class="card">

              <!--Card content-->
              <div class="card-body px-lg-5">

                <!-- Form -->
                <form id="update_form" method="post" th:action="@{/profile}">

                  <a href="#">Update your password</a>
                  <span class="badge badge-danger text-center" id="errors"></span>

                  <!-- Name -->
                  <div class="md-form mt-3">
                    <input class="form-control" id="first_name" name="first_name" th:value="${basic_details.firstName}"
                           type="text">
                    <label for="first_name">First Name</label>
                  </div>

                  <div class="md-form mt-3">
                    <input class="form-control" id="last_name" name="last_name" th:value="${basic_details.lastName}"
                           type="text">
                    <label for="last_name">Last Name</label>
                  </div>

                  <!-- Username -->
                  <div class="md-form">
                    <th:block th:if="${username_exists == 'yes'}"><span class="badge badge-danger">The given username exists</span>
                    </th:block>
                    <input class="form-control" id="username" name="username" th:value="${basic_details.userName}"
                           type="text">
                    <label for="username">Username</label>
                  </div>

                  <div class="md-form">
                    <input class="form-control" id="email" name="email" th:value="${basic_details.email}"
                           type="email">
                    <label for="email">Username</label>
                  </div>

                  <!-- DOB -->
                  <div class="md-form">
                    <input class="form-control" id="dob" max="2099-09-13" min="1900-01-01"
                           name="dob" th:value="${basic_details.dob}" type="date">
                    <label for="dob">Date of Birth</label>
                  </div>

                  <!-- Gender -->
                  <span class="badge badge-danger" id="gender_warning"></span>
                  <input id="gender_val" th:value="${basic_details.gender}" type="hidden"/>
                  <div class="md-form">
                    <select class="form-control input_user" id="gender" name="gender" required>
                      <option value="opt">Select an Option</option>
                      <option value="male">Male</option>
                      <option value="female">Female</option>
                      <option value="nts">Prefer Not to Say</option>
                    </select>
                  </div>

                  <div class="md-form">
                    <input class="form-control" id="phone" name="phone" th:value="${basic_details.phone}"
                           type="number">
                    <label for="phone">Phone</label>
                  </div>
                  <script>
                    let val = document.getElementById("gender_val").value;
                    document.getElementById("gender").value = val;
                  </script>
                  <input name="id" th:value="${basic_details.id}" type="hidden">
                  <!--  button -->
                  <a class="btn btn-outline-info btn-rounded btn-block z-depth-0 my-4 waves-effect"
                     href="javascript:validate_and_submit()">
                    Update
                  </a>

                </form>
          <!-- Form -->

        </div>

      </div>
      <!-- Material form subscription -->
      </p>
      </div>

      </div>
    </section><!-- End Portfolio Details Section -->

  </main><!-- End #main -->

<th:block th:insert="includes/home-fragments::footer"></th:block>

<a href="#" class="back-to-top"><i class="ri-arrow-up-line"></i></a>

<th:block th:insert="includes/home-fragments::home-scripts"></th:block>
<script>
  function validateGender() {
    var ddl = document.getElementById("gender");
    if (ddl.selectedIndex === 0) {
      document.getElementById("gender_warning").innerHTML = "Please Select your Gender";
      return false;
    } else {
      document.getElementById("gender_warning").innerHTML = "";
      return true;
    }
  }

  function getDob() {
    var date = new Date();
    return (date.getMonth() + 1) + "-" + date.getDate() + "-" + (date.getFullYear() - 18);
  }

  document.getElementById("dob").prop("max", getDob());
  document.getElementById("#dob").validate();

  function validate_and_submit() {
    if (validateGender()) {
      document.getElementById("update_form").submit();
    } else {
      document.getElementById("errors").innerHTML = "<span class=\"badge badge-pill badge-danger\">Please Correct the following</span>";
    }
  }
</script>

</body>

</html>