<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Pixies - Profile</title>
    <meta content="" name="descriptison">
    <meta content="" name="keywords">

    <th:block th:insert="includes/home-fragments::home-header"></th:block>

    <link href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css'>
</head>

<body>

<!-- ======= Header ======= -->
<th:block th:insert="includes/home-fragments::navbar-inner-page"/>
<!-- End Header -->

<main id="main">


    <style>
        .profile-header {
            transform: translateY(5rem);
        }

    </style>

    <div class="row py-5 px-4">
        <div class="col-xl-10 col-md-10 col-sm-10 mx-auto">

            <!-- Profile widget -->
            <div class="bg-white shadow rounded overflow-hidden">
                <div class="px-4 pt-0 pb-4 bg-dark">
                    <div class="media align-items-end profile-header">
                        <div class="profile mr-3">
                            <img alt="..." class="rounded mb-2 img-thumbnail"
                                 src="https://d19m59y37dris4.cloudfront.net/university/1-1-1/img/teacher-4.jpg"
                                 width="130">
                            <a class="btn btn-dark btn-sm btn-block" th:href="@{/editProfile}"
                               th:if="${#authentication.name == user.userName}">Edit profile</a>
                        </div>
                        <div class="media-body mb-5 text-white">
                            <h4 class="mt-0 mb-0" th:text="${user.firstName + ' ' + user.lastName}">Full Name here</h4>
                            <p class="small mb-4"><i class="fa fa-map-marker mr-2"></i>Bangalore</p>
                        </div>
                    </div>
                </div>

                <div class="bg-light p-4 d-flex justify-content-end text-center">
                    <ul class="list-inline mb-0">
                        <li class="list-inline-item">
                            <h5 class="font-weight-bold mb-0 d-block">241</h5><small class="text-muted"> <i
                                class="fa fa-picture-o mr-1"></i>Posts</small>
                        </li>
                        <li class="list-inline-item">
                            <h5 class="font-weight-bold mb-0 d-block">84K</h5><small class="text-muted"> <i
                                class="fa fa-user-circle-o mr-1"></i>Boards</small>
                        </li>
                    </ul>
                </div>

                <div class="py-4 px-4">
                    <div class="d-flex align-items-center justify-content-between mb-3">
                        <h5 class="mb-0">Recent photos</h5>
                        <a class="btn btn-link text-muted" href="#">Show all</a>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 mb-2 pr-lg-1" th:each="post: ${posts}">
                            <a th:href="@{/viewPost/} + ${post.id}">
                                <img class="img-fluid rounded shadow-sm" th:alt="${post.postDescription}"
                                     th:alt-title="${post.postDescription}"
                                     th:if="${post.postType == 'image' || post.postType == 'gif'}"
                                     th:src="'https://web-mini.s3.ap-south-1.amazonaws.com/posts/'+${post.postUrl}"/>
                                <video autoplay loop th:if="${post.postType == 'video'}">
                                    <source th:src="'https://web-mini.s3.ap-south-1.amazonaws.com/posts/'
                                    +${post.postUrl}"
                                            type="vi/mp4">
                                </video>
                            </a>
                        </div>
                    </div>
                </div>
            </div><!-- End profile widget -->

        </div>
    </div>

</main><!-- End #main -->

<th:block th:insert="includes/home-fragments::footer"></th:block>

<a class="back-to-top" href="#"><i class="ri-arrow-up-line"></i></a>

<th:block th:insert="includes/home-fragments::home-scripts"></th:block>

</body>

</html>