<!DOCTYPE HTML>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="navbar-home">
    <header>
        <!-- Navbar -->
        <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark d-none d-lg-block" style="z-index: 2000;">
            <div class="container-fluid">
                <!-- Navbar brand -->
                <a
                        class="navbar-brand nav-link"
                        href="/#"
                >
                    <strong>PIXIES</strong>
                </a>
            <button
                    aria-controls="navbarExample01"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
                    class="navbar-toggler"
                    data-target="#navbarExample01"
                    data-toggle="collapse"
                    type="button"
            >
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarExample01">
                <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
                    <li class="nav-item active">
                        <a aria-current="page" class="nav-link" href="/#">HOME</a>
                    </li>
                    <li class="nav-item">
                        <a
                                class="nav-link"
                                href="/#about"
                        >ABOUT</a
                        >
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/#team"
                        >TEAM</a
                        >
                    </li>
                </ul>

                <ul class="navbar-nav list-inline">
                    <!-- Icons -->
                    <li class="nav-item">
                        <a class="nav-link" href="login">LOG IN</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="signup">SIGN UP</a>
                    </li>
                </ul>
            </div>
            </div>
        </nav>
        <!-- Navbar -->
    </header>
</th:block>
unch with dedicated


<!-- Copyright -->
<th:block th:fragment="footer">
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2020 Copyright:
        <a class="text-dark" href="https://rifasm.github.io/">Pixies</a>
    </div>
</th:block>
<!-- Copyright -->
</footer>
<!--Footer-->
</html>