<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Pixies - Forgot Password</title>
    <meta content="" name="descriptison">
    <meta content="" name="keywords">

    <th:block th:insert="includes/home-fragments::home-header"></th:block>

</head>
<body>

<!--Main Navigation-->

<th:block th:insert="includes/home-fragments::navbar-home"/>
<style>
    body {
        background: url("https://source.unsplash.com/random/900x600") top center;
        background-size: cover;
    }

    #main {
        margin: 10%;
    }
</style>

<div class="container text-center row" id="main">
    <div class="col-md-11" id="error-message"></div>
    <div class="col-md-11" th:if="${error}">
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>The provided Link has either expired or is not valid. Reset Your password <a
                    th:href="@{/forgotPassword}">here</a></strong>
            <button aria-label="Close" class="close" data-dismiss="alert" type="button">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>

    <div class="col-md-11" th:if="${success}">
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>Your password was updated successfully. Log In <a
                    th:href="@{/login}">here</a></strong>
            <button aria-label="Close" class="close" data-dismiss="alert" type="button">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>

    <div class="card" th:if="${valid}">

        <h5 class="card-header info-color white-text text-center py-4">
            <strong>Forgot Password</strong>
        </h5>

        <!--Card content-->
        <div class="card-body px-lg-5 pt-0">
            <form id="reset-form" method="post" style="color: #757575;">

                <!-- Password 1 -->
                <div class="md-form">
                    <input class="form-control" id="password1" name="password1" required type="password">
                    <label for="password1">Password</label>
                </div>

                <!-- password 2 -->
                <div class="md-form">
                    <input class="form-control" id="password2" name="password2" required type="password">
                    <label for="password2">Re enter Password</label>
                </div>

                <!-- Reset Password button -->
                <a class="btn btn-outline-info btn-rounded btn-block my-4 waves-effect z-depth-0"
                   href="javascript:validatePasswords()">
                    Reset Password
                </a>

                <!-- Login -->
                <p>Already a member?
                    <a th:href="@{/login}">Sign In</a>
                </p>

                <!-- Signup -->
                <p>New Here?
                    <a th:href="@{/signup}">Sign Up</a>
                </p>

            </form>
            <!-- Form -->
        </div>
    </div>
    <!-- Material form login -->
</div>

<script type="text/javascript">
    function validatePasswords() {
        const pattern = "^(?=.*\\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[a-zA-Z]).{8,15}$";

        const firstpassword = document.getElementById("password1").value;
        const secondpassword = document.getElementById("password2").value;

        if (!(firstpassword.match(pattern)) || !(firstpassword.match(pattern)))
            document.getElementById("error-message").innerHTML = "<div class=\"alert alert-danger alert-dismissible fade show\" role=\"alert\">\n" +
                "            <strong>The Passwords should contain at least 8 characters (15 max), 1 digit and 1 special character, space is not allowed.</strong>\n" +
                "            <button aria-label=\"Close\" class=\"close\" data-dismiss=\"alert\" type=\"button\">\n" +
                "                <span aria-hidden=\"true\">&times;</span>\n" +
                "            </button>\n" +
                "        </div>";
        else if (firstpassword === secondpassword && firstpassword !== "")
            document.getElementById("reset-form").submit();
        else
            document.getElementById("error-message").innerHTML = "<div class=\"alert alert-danger alert-dismissible fade show\" role=\"alert\">\n" +
                "            <strong>The Passwords do not match.</strong>\n" +
                "            <button aria-label=\"Close\" class=\"close\" data-dismiss=\"alert\" type=\"button\">\n" +
                "                <span aria-hidden=\"true\">&times;</span>\n" +
                "            </button>\n" +
                "        </div>";
    }

</script>

<th:block th:replace="includes/home-fragments::footer"/>

<th:block th:insert="includes/home-fragments::home-scripts"></th:block>
</body>
</html>

